<div class="">
  <div class="header-invoice">
    <p class="headerText">INVOICE</p>
    <form>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text">#</span>
        </div>
        <input type="number" class="form-control" placeholder="Usernumber" value=2/>
      </div>
    </form>
  </div>
  <div class="main-section">
    <div id="detailBox">
      <div class="topInput">
        <span>Bill From:</span>
        <br />
        <input [(ngModel)]="billFromAddress" type="text" class="fromText" placeholder="Who is this invoice for?(required)" />
        <p style="color:red;" *ngIf="showBillFrom">This field is required</p>
      </div>
      <div>
        <span>Bill To:</span>
        <br />
        <input [(ngModel)]="billToAddress" type="text" class="fromText" placeholder="Who is this invoice to?(required)" />
        <p style="color:red;" *ngIf="showBillTo">This field is required</p>
      </div>
    </div>
    <div id="dateInfo">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <angular2-date-picker [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-5 col-form-label">Due Date</label>
        <div class="col-sm-7">
          <angular2-date-picker [(ngModel)]="date1" [settings]="settings"></angular2-date-picker>
        </div>
      </div>
      <div class="balance">
        <span >Balance Due <strong>$0</strong></span>
      </div>
    </div>
  </div>
  <div class="tableBox">
    <table style="width:100%">
      <tr style="background: grey;">
        <th>Item</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
      <tr *ngFor="let detail of NumberOfOption ;let indexValue=index">
        <td>
          <input style="width: 100%;"  type="text" placeholder="Descrition of service and product" [(ngModel)]="detail.Desc" />
        </td>
        <td>
          <input style="width: 100%;"    [(ngModel)]="detail.quantity" (keyup)="rateChanged(indexValue,detail)" type="number">
        </td>
        <td>
          <input style="width: 100%;" [(ngModel)]="detail.Rate" (keyup)="rateChanged(indexValue,detail)" type="number">
        </td>
        <td>
          <input disabled style="width: 100%;"  [(ngModel)]="detail.Amount" type="text">
        </td>
        <td *ngIf="indexValue!=0">
          <button  (click)="removeInput(detail)">X</button>
        </td>
      </tr>
    </table>

    <button class="btn btn-primary" (click)="addMoreLine()">
      + Line Button
    </button>
  </div>
  <div class="summation">
    <table style="width:100%">
      <tr>
        <th>Subtotal</th>
        <th>$ {{totalSum}}</th>
      </tr>
      <tr>
        <th>Tax</th>
        <th>13 %</th>
      </tr>
      <tr>
        <th>Total</th>
        <th>$ {{((13*totalSum)/100)+totalSum }}</th>
      </tr>
      <tr>
        <th>Amount Paid</th>
        <th>
          <span>$ <input type="number"></span>
        </th>
      </tr>
    </table>
    <button class="btn btn-primary" (click)="getFinalReport()">Print</button>
  </div>
</div>