.headerText{
    font-size: 3.0em;
    padding-right: 20px;
}

#detailBox{
    display: flex;
    flex-flow: column;
    width: 30%;
}
.fromText{
    width: 100%;
    height: 60px;
}
.topInput{
    padding-bottom: 5%;
}

.pageNo{
    float: left;
    width: 100px;
    position: absolute;
    border: solid;
    right: 0px;
    height: 40px;
    text-align: right;
    padding-right: 5px;
}
.tag{
    float: left;
    width: 30px;
    position: absolute;
    border: solid;
    right: 100px;
    height: 40px;
}

.pageInfo{
    position: relative;
    padding: 75px;
    left: -98px;
}

#dateInfo{
    width: 20%;
}

.tableBox{
    padding: 2% 0%;
}

.balance{
    background: #F5F5F5;
    height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
}

.balance span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.summation{
    padding-left: 60%;
}

.header-invoice {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.dateText {
    width: 80%;
    text-align: center;
    padding: 20px;
}

.main-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.amountDetail{
    position: relative;
    top: -20px;
}