<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Notes</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Notes-any relevant Information not already covered"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Terms</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Terms and conditions - late fees, payment methods, delivery schedule"
    />
  </div>
</form>
